@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Дані студента</h1>
    <p><strong>Ім’я та прізвище:</strong> Дмитро Доскоч</p>
    <p><strong>Група:</strong> ІПЗс-25-1</p>
    <p><strong>Тема курсового:</strong> Веб-додаток для покупки та для читання книг</p>
    <p><strong>Theme of course work:</strong> Beb-application for buying and reading books</p>
</div>
